# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
venv/
.env/

# ===============================
# Backend
# ===============================
backend/firebase_key.json
backend/*.db

# ===============================
# Node / Frontend
# ===============================
node_modules/
dist/
build/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VSCode
# ===============================
.vscode/
